<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        FCC Challenges: APIs and Microservices
      </h1>
      <p>
        It seems like you have found this secret place! Now try not to visit the root URL, but the following api instead.
      </p>
      <p class="italic">
        This entire service is for demo only. I am not responsible for any direct content stored in this service, nor any indirect content that are pointed to by any link/content in this service.
      </p>
      <p class="italic">
        Note that every collection in the database is capped to 4096MB. Old records are not guaranteed to perserve forever.
      </p>
    </header>

    <main class="container">
      <section>
        <h2>
          Timestamp API ⌚💌
        </h2>

        <div class="display">
          <p>
            <code>GET &lt;host&gt;/api/timestamp/&lt;ISO time string or timestamp integer&gt;</code>
          </p>
          <p>
            This will respond you with the timestamp you enter!
          </p>
        </div>

        <div class="example">
          <div>
            <div class="bold">
              Input
            </div>
            <pre><a href="api/timestamp/2015-12-25"><code>&lt;project&gt;/api/timestamp/2015-12-25</code></a></pre>
            <pre><a href="api/timestamp/1451001600000"><code>&lt;project&gt;/api/timestamp/1451001600000</code></a></pre>
          </div>
          <div>
            <div class="bold">
              Output
            </div>
            <pre><code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code></pre>
          </div>
        </div>
      </section>

      <section>
        <h2>
          WhoAmI API 👀❔
        </h2>

        <div class="display">
          <p><code>GET &lt;host&gt;/api/whoami</code>
          </p>
          <p>
            This will respond you with the information of your host and request!
          </p>
        </div>

        <div class="example">
          <div>
            <div class="bold">
              Input
            </div>
            <pre><a href="api/whoami"><code>&lt;project&gt;/api/whoami</code></a></pre>
          </div>
          <div>
            <div class="bold">
              Output
            </div>
            <pre><code>{<br>    "ip": "159.20.14.100",<br>    "language": "en-US,en;q=0.5",<br>    "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"<br>}</code></pre>
          </div>
        </div>
      </section>

      <section>
        <h2>
          URL Shortener Service 🔗💥
        </h2>

        <div class="display">
          <p>
            <code>POST &lt;host&gt;/api/shorturl/new<br>x-www-form-urlencoded { url }</code>
          </p>
          <p>
            This will respond you with both the original and the shortened URL, if the URL is of HTTP(S) protocol whose host passes <code>dns.lookup</code>.
          </p>
          <p>
            <code>GET &lt;host&gt;/api/shorturl/&lt;id&gt;</code>
          </p>
          <p>
            This will redirect you to the corresponding website.
          </p>
          <p>
            <code>GET &lt;host&gt;/api/shorturl</code>
          </p>
          <p>
            <span class="italic">[Debug]</span> This will respond you with all short URL records stored.
          </p>
        </div>

        <div class="example">
          <div>
            <div class="bold">
              Input
            </div>
            <pre><code>&lt;project&gt;/api/shorturl/new - { "url": "https://github.com" }</code></pre>
            <form action="api/shorturl/new" method="POST" name="shorturl-form-create" id="shorturl-form-create">
              <input type="url" name="url" id="shorturl-input-url" placeholder="url" value="https://github.com" required />
              <input type="submit" value="Submit" id="shorturl-input-button" />
            </form>
          </div>
          <div>
            <div class="bold">
              Output
            </div>
            <pre><code>{<br>    "url": "https://github.com",<br>    "short": "wQLKLM4Cc"<br>}</code></pre>
          </div>

          <div>
            <div class="bold">
              Input
            </div>
            <pre><a href="api/shorturl/wQLKLM4Cc"><code>&lt;project&gt;/api/shorturl/wQLKLM4Cc</code></a></pre>
          </div>
          <div>
            <div class="bold">
              Output
            </div>
            <pre><code>REDIRECT - https://github.com</code></pre>
          </div>
        </div>
      </section>

      <section>
        <h2>
          Exercise Tracker 💦💪
        </h2>

        <div class="display">
          <p>
            <code>POST &lt;host&gt;/api/exercise/user/new<br>x-www-form-urlencoded { username }</code>
          </p>
          <p>
            This will create a user and respond you with the user id and username.
          </p>
          <p>
            <code>GET &lt;host&gt;/api/exercise/user/:username</code>
          </p>
          <p>
            This will respond you with the specified user id and username, or a NotFoundError.
          </p>
          <p>
            <code>GET &lt;host&gt;/api/exercise/user</code>
          </p>
          <p>
            <span class="italic">[Debug]</span> This will respond you with all the user records stored.
          </p>
          <p>
            <code>POST &lt;host&gt;/api/exercise/new<br>x-www-form-urlencoded { userId, description, duration (int), date (yyyy-mm-dd) }</code>
          </p>
          <p>
            This will create an exercise record and respond you with the created exercise document.
          </p>
          <p>
            <code>GET &lt;host&gt;/api/exercise/log?{userId}[&from(yyyy-mm-dd)][&to(yyyy-mm-dd)][&limit(+int)]</code>
          </p>
          <p>
            This will list all exercise records belonged to a specified user in date ascending order with optional filters.
          </p>
        </div>
        
        <div class="example">
          <div>
            <div class="bold">
              Create User
            </div>
            <pre><code>POST &lt;project&gt;/api/exercise/user/new</code></pre>
            <form action="api/exercise/user/new" method="POST" name="exercise-form-create-user" id="exercise-form-create-user">
              <input type="text" name="username" placeholder="username" required />
              <input type="submit" value="Submit" />
            </form>
          </div>
          <div>
            <div class="bold">
              Create Exercise
            </div>
            <pre><code>POST &lt;project&gt;/api/exercise/new</code></pre>
            <form action="api/exercise/new" method="POST" name="exercise-form-create-exercise" id="exercise-form-create-exercise">
              <div class="field">
                <label for="ce-userId">userId</label>
                <input type="text" name="userId" id="ce-userId" required />
              </div>
              <div class="field">
                <label for="ce-description">description</label>
                <input type="text" name="description" id="ce-description" required />
              </div>
              <div class="field">
                <label for="ce-duration">duration</label>
                <input type="number" name="duration" id="ce-duration" required />
              </div>
              <div class="field">
                <label for="ce-date">date</label>
                <input type="date" name="date" id="ce-date" required />
              </div>
              <input type="submit" value="Submit" />
            </form>
          </div>
          <div>
            <div class="bold">
              List Exercise
            </div>
            <pre><code>GET &lt;project&gt;/api/exercise/log</code></pre>
            <form action="api/exercise/log" method="GET" name="exercise-form-list-exercise" id="exercise-form-list-exercise">
              <div class="field">
                <label for="le-userId">userId</label>
                <input type="text" name="userId" id="le-userId" required />
              </div>
              <div class="field">
                <label for="le-from">from</label>
                <input type="date" name="from" id="le-from" />
              </div>
              <div class="field">
                <label for="le-to">to</label>
                <input type="date" name="to" id="le-to" />
              </div>
              <div class="field">
                <label for="le-limit">limit</label>
                <input type="number" name="limit" id="le-limit" />
              </div>
              <input type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </section>

      <section>
        <h2>
          File Metadata Service 📃📁
        </h2>

        <div class="display">
          <p>
            <code>POST &lt;host&gt;/api/file<br>multipart/form-data { upfile }</code>
          </p>
          <p>
            This will respond you with the uploaded file name and size (in bytes).
          </p>
        </div>

        <div class="example">
          <div>
            <div class="bold">
              Input
            </div>
            <pre><code>&lt;project&gt;/api/file</code></pre>
            <form action="api/file" method="POST" name="file-form" id="file-form" enctype="multipart/form-data">
              <input type="file" name="upfile" id="ff-upfile" required />
              <input type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </section>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

  </body>
</html>
